{% extends "base.html" %}
{% block title %}Edit - {{ article.title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="form_box">
    <form class="" action="" method="post">
      {% csrf_token %}
      <h3>글 수정하기</h3>
      <input class="input_field" type="text" placeholder="글쓴이의 이름은?" name="author" value="{{ article.author }}"><br>
      <input class="input_field" type="password" placeholder="글 비밀번호" name="password"><br>
      <input class="input_field" type="text" placeholder="제목을 입력해주세요" name="title" value="{{ article.title }}"><br>
      <textarea class="textarea_field" placeholder="내용을 입력해주세요" name="text">{{ article.text }}</textarea><br>
      <button class="write_button">게시</button>
    </form>
  </div>  
</div>
{% endblock %}
